<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447768866463-hjg2pnrn1omj1mcqdhs6bqo57tbcigvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447768866463-hjg2pnrn1omj1mcqdhs6bqo57tbcigvo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>447768866463-5hig1k0f09ohlus5o81v3hk24l2avq65.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-tcPHiTktpbSxT8ctENd7eCcvprnp2OA</string>
	<key>GCM_SENDER_ID</key>
	<string>447768866463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.brettspiel</string>
	<key>PROJECT_ID</key>
	<string>wto-negotiation-game</string>
	<key>STORAGE_BUCKET</key>
	<string>wto-negotiation-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447768866463:ios:b5c5ae603d0602ae817caa</string>
</dict>
</plist>